.container {
	width: 90%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.content {
	display: flex;
    margin: auto;
    flex-direction: row;
    align-items: flex-end;
}

.title {
	font-size: 28px;
}

.btn__wrapper {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
}


@media (max-width: 620px) {
    .content{
        flex-direction: column;
        align-items: flex-start;
    }
}