body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card {
  /* transition: .3s; */
}

.card:hover {
  /* opacity: .9; */
  transform: scale(1.1);
  transition: .1s ease;
  /* box-shadow: 0px 0px 8px 3px rgba(61, 18, 26, .4); */
}

.card:active{
  /* opacity: .6; */
}

/* scrollbar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(75, 70, 102, 1);
	border-radius: 3px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner{
	background-color: rgba(0,0,0,.0)
}